*{
    background : #191a20;
    color: #f3fa9a;
}

QLineEdit{
    border:0px;
    background:#282a35;
    color: #85f789;
}

QTextBrowser{
    border:0px;
    background: #282a35;
    color: #f8f8f3;
}

QPushButton{
    background: #3d3d4f;
}

QToolButton{
    background: #3d3d4f;
}

QLabel{
    background: #282a35;
    color: #ee81c3;
}

QCheckBox{
    background: #282a35;

}